<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>Wikiclone Categories</title>
    
    <link href="../../static/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../../static/bootstrap/css/jumbotron-narrow.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="../../static/bootstrap/js/bootstrap.min.js"></script>
  </head>
  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="../index.html">Home</a></li>
            <li role="presentation"><a href="../profile/profile.html">Profile</a></li>
            <li role="presentation" class="active"><a href="#">Categories</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Wikiclone</h3>
      </div>
	
	
	<div class="jumbotron">
  	<h1>Categories</h1>            
		  <table class="table table-striped">
		    <thead>
		      <tr>
		        <th>Name</th>
		        <th>Articles no.</th>
		        <th>Authors no.</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr>
		        <td><a href="./listed.html">Pisikaki</a></td>
		        <td>123413</td>
		        <td>10</td>
		      </tr>
		      <tr>
		        <td>Mary</td>
		        <td>1</td>
		        <td>3</td>
		      </tr>
		      <tr>
		        <td>July</td>
		        <td>0</td>
		        <td>0</td>
		      </tr>
		    </tbody>
		  </table>
		</div>
     </div>
	
</body>
</html>