<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header.html"></head>
<body>

	<div class="container">
		<div th:include="menubar.html" th:with="page=${'categories'}"></div>
		<h1 th:text="${category.name}">Category name</h1>
		<a th:if="${category.parentId != -1}"
			th:href="'/category/' + ${category.parentId}">Go to supercategory</a>

		<div class="row marketing">
			<div class="col-lg-6">
				<th:block th:each="article : ${articles}">
					<h4>
						<a th:href="'/article/read/' + ${article.id}"
							th:text="${article.title}">Article title</a>
					</h4>
					<p th:text="${#strings.abbreviate(article.content,150)} ">Content</p>
				</th:block>

			</div>
		</div>

		<h4>Categories like this:</h4>
		<th:block th:each="subcategory : ${subcategories}">
			<a th:href="'/category/' + ${subcategory.id}"> <span
				class="label label-primary" th:text="${subcategory.name}">
					Category </span>
			</a>
		</th:block>
	</div>

</body>
</html>