<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Bejelentkezés  Tudásbázis </title>
    <link rel='dns-prefetch' href='//s.w.org' />
    <link rel='stylesheet'
    href='https://wphu.org/wp-admin/load-styles.php?c=1&amp;dir=ltr&amp;load%5B%5D=dashicons,buttons,forms,l10n,login&amp;ver=4.9.4'
    type='text/css' media='all' />
    <meta name='robots' content='noindex,follow' />
    <meta name="viewport" content="width=device-width" />
  </head>
  <body class="login login-action-login wp-core-ui locale-hu-hu">
    <div id="login">
      <h1>
        <img src="login/owl.png" alt="Smiley face" height="100" width="100">
      </h1>
      <form name="loginform" id="loginform" method="post">
        <p>
          <label for="user_login">Felhasználói név
          <br />
          <input type="text" name="username" id="user_login" class="input" value="" size="20" /></label>
        </p>
        <p>
          <label for="user_pass">Jelszó
          <br />
          <input type="password" name="password" id="user_pass" class="input" value="" size="20" /></label>
        </p>
        <p class="submit">
        <input type="submit" name="wp-submit" id="wp-submit" class="button button-primary button-large" value="Bejelentkezés" />
      </form>
      
    </div>
    <div class="clear"></div>
  </body>
</html>
