<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header.html"></head>

<body>

	<div class="container">
		<div th:include="menubar.html" th:with="page=${'profile'}"></div>
		<div class="jumbotron">

			<form method="post">

				<h2>Institution:<br></h2>
				<input type="text" name="institution"
					th:value="${user.institution}"><br> 
				<h2>Scientific degree:<br></h2>
				<input type="text" name="scientificDegree"
					th:value="${user.scientificDegree}"><br>

				<th:block th:each="category : ${categories.keySet()}">
					<h3 th:text="${categories.get(category).name}"></h3>

					<input type="radio" th:name="'category-'+${category}" value="0"
						th:id="'category-'+${category}+'-0'"
						th:checked="${user.lectoringLevelInCategory.get(category) == null || user.lectoringLevelInCategory.get(category) == 0}">
					<label th:for="'category-'+${category}+'-0'">Not at all</label>
					
					
					<input type="radio" th:name="'category-'+${category}" value="1"
						th:id="'category-'+${category}+'-1'"
						th:checked="${user.lectoringLevelInCategory.get(category) != null && user.lectoringLevelInCategory.get(category) == 1}">
					<label th:for="'category-'+${category}+'-1'">I know a
						little about it</label>
					

					<input type="radio" th:name="'category-'+${category}" value="2"
						th:id="'category-'+${category}+'-2'"
						th:checked="${user.lectoringLevelInCategory.get(category) != null && user.lectoringLevelInCategory.get(category) == 2}">
					<label th:for="'category-'+${category}+'-2'">I'm an expert</label>

					<br>
				</th:block>

				<input type="submit" value="Send">
			</form>

		</div>
	</div>
	<!-- /container -->

</body>
</html>
