<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header.html"></head>
<body>

	<div class="container">
		<div th:replace="menubar.html"></div>


		<div class="jumbotron">
			<form method="post">
				<div class="form-group">
					<h2>Write your own article</h2>
					<br> <label for="title">Title:</label> <input type="text"
						class="form-control" id="title" name="title" required th:value="${article?.title}">
				</div>
				<div class="form-group">
					<label for="article">Article:</label><br>
					<textarea class="form-control" rows="35" id="article" name="content" required th:text="${article?.content}"></textarea>
				</div>
				<div class="form-group">
					<label for="sel1">Choose category:</label> <select
						class="form-control" id="sel1" name="categoryId">
						<th:block th:each="category : ${categories.keySet()}">
							<option th:value="${category}" th:text="${categories.get(category).name}" th:selected="${article?.categoryId == category}"></option>
						</th:block>
					</select>
				</div>

				<div class="form-group">
					<label for="sel2">Choose keywords(Hold shift to select more
						than one):</label> <select multiple class="form-control" id="sel2"
						name="keywordIds">
						<th:block th:each="keyword : ${keywords.keySet()}">
							<option th:value="${keyword}" th:text="${keywords.get(keyword).keyword}" th:selected="${article != null && article?.keywordIDs?.contains(keyword)}"></option>
						</th:block>
					</select>
				</div>
				
				<div class="form-group">
					<label for="sel-parent-article">The topic is the same with:</label> <select class="form-control" id="sel-parent-article"
						name="parentArticleId">
						<option value="-1">This is a new topic</option>
						<th:block th:each="article : ${articles}">
							<option th:value="${article.id}" th:text="${article.title}" th:selected="${article?.id == article.id}"></option>
						</th:block>
					</select>
				</div>
				
				<div class="form-group">
					<label for="sel3">Choose language:</label> <select class="form-control" id="sel3"
						name="languageId">
						<th:block th:each="language : ${languages.keySet()}">
							<option th:value="${language}" th:text="${languages.get(language).name}" th:selected="${article?.languageId == language}"></option>
						</th:block>
					</select>
				</div>

				<button type="submit" class="btn btn-info">Submit</button>
			</form>
		</div>

	</div>
	<!-- /container -->

</body>
</html>
